@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
bg-amber-400
bg-teal-400
bg-gray-100
bg-red-200
bg-red-300
bg-blue-800
0079d3
00007d
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
